name: 3. Build, Deploy and Release Project

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build and Test
        uses: qcastel/github-actions-maven-cmd@master
        with:
          maven-args: "clean install"

      - name: Release
        uses: qcastel/github-actions-maven-release@master
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          git-release-bot-name: "Maven Release"
          git-release-bot-email: "maven@release.io"

          maven-args: "deploy -Dmaven.javadoc.skip=true"
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
          release-branch-name: 'main'